var updated_post_html = "<%= j render(partial: 'posts/post', locals: { post: @post }) %>";

$("#post-<%= @post.id %>").replaceWith(updated_post_html);

$("#flash_messages").html('<div class="alert alert-success alert-dismissible fade show" role="alert"><%= j flash.now[:notice] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
setTimeout(function(){ 
  $("#flash_messages").find(".alert").fadeOut("slow");
}, 3000);