#tag-list {
  list-style: none;
  padding: 0;
}

.tag-item {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 12px;
  position: relative;
}

.tag-name {
  margin-right: 8px;
}

/* 最初はバツボタン非表示 */
.delete-btn {
  display: none;
  font-weight: bold;
  cursor: pointer;
  color: red;
}

.edit-mode .delete-btn {
  display: inline;
}

/* ナビゲーションバーが固定されたときにコンテンツが隠れないように調整 */
body {
    padding-top: 70px; /* ナビゲーションバーの高さより少し多めに設定 */
}

@import "bootstrap-icons/font/bootstrap-icons";